.header{
    background-color: #0c5d5d;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .header .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: auto;
    height: 100%;
    padding: 0 1rem;
  }
  .nav-menu {
    list-style: none;
    display: flex;
  }
  .nav-menu a{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
  .header .nav-item {
    padding: 1rem;
    font-weight: 800;
  }
  .nav-item a:hover{
    text-decoration: underline 2px;
    color: rgb(194, 241, 233);
  }